<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.social_network.pnu_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".firebase.OfflineCapabilities"
        android:allowBackup="true"
        android:icon="@mipmap/logopnu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logopnu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pages.ActivityListLikesPost"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.ActivityListLikesPost"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pages.FinishedPollsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.FinishedPollsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.NewPollsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.NewPollsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.YourPollsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.YourPollsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.BuildPollsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.BuildPollsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.PollsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.PollsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.SubscribersProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.SubscribersProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.FriendsProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.FriendsProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.MySubscribersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.MySubscribersActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.RequestsFriendsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.RequestsFriendsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.ProfileStudent"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.ProfileStudent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.FindNewFriends"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.FindNewFriends" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.FriendsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.FriendsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.Message"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.Message" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.Settings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.Schedule"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.Schedule" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.Messenger"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.Messenger" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.Search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.Search" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.PhoneAuthentication"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.registration.PhoneAuthentication" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.MainStudentPage"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.pages.MainStudentPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.Registration"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.registration.Registration" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signin.SignIn"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.social_network.pnu_app.signin.SignIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>